<header-component></header-component>

<!-- <petora-user-layout></petora-user-layout> -->

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">
          Petora
        </h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-white font-winky">
        Te ayudamos a crear el viaje de tus suenos al mejor precio.
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img
            class="h-40 rounded w-full object-containt object-center mb-6"
            src="assets/img/img-base/vuelos.png"
            alt="content"
          />
          <h3
            class="tracking-widest text-indigo-500 text-xs font-medium title-font"
          >
            Vuelos
          </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
            Vuelos
          </h2>
          <p class="leading-relaxed text-base">
            Descubre vuelos irresistibles al mejor precio. Explora destinos
            únicos, compara ofertas y reserva tu próxima aventura en solo unos
            clics. ¡Tu viaje comienza aquí!
          </p>
          <div>
            <div class="h-1 w-full bg-indigo-500 rounded mt-2"></div>

            <a class="btn btn-primary mt-5" routerLink="/vuelos">
              Ver Vuelos
            </a>
          </div>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img
            class="h-40 rounded w-full object-containt object-center mb-6"
            src="assets/img/img-base/hoteles.png"
            alt="content"
          />
          <h3
            class="tracking-widest text-indigo-500 text-xs font-medium title-font"
          >
            Hoteles
          </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
            Hoteles
          </h2>
          <p class="leading-relaxed text-base">
            Encuentra el hotel perfecto para cada viaje. Desde escapadas
            románticas hasta viajes de negocios, compara precios, elige tu
            estancia ideal y reserva al instante. ¡Comodidad y estilo a solo un
            clic!
          </p>
              <div class="h-1 w-full bg-indigo-500 rounded mt-2"></div>

            <a  class="btn btn-primary mt-5"
            routerLink="/hoteles">Ver Todos los Hoteles</a>
        </div>

      </div>



      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img
            class="h-40 rounded w-full object-containt object-center mb-6"
            src="assets/img/img-base/packs.png"
            alt="content"
          />
          <h3
            class="tracking-widest text-indigo-500 text-xs font-medium title-font"
          ></h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
            packs
          </h2>
          <p class="leading-relaxed text-base">
            Vive experiencias únicas con nuestros packs de viaje temáticos.
            Aventuras, relax, escapadas culturales o gastronómicas… elige tu
            estilo y nosotros nos encargamos del resto. ¡Viajar nunca fue tan
            fácil!
          </p>
          <div class="h-1 w-full bg-indigo-500 rounded mt-2"></div>

          <a class="btn btn-primary mt-5" routerLink="/packs">
            Ver los packs disponibles
          </a>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img
            class="h-40 rounded w-full object-containt object-center mb-6"
            src="assets/img/img-base/queHacer.png"
            alt="content"
          />
          <h3
            class="tracking-widest text-indigo-500 text-xs font-medium title-font"
          >
            Que Hacer
          </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
            Que Hacer
          </h2>
          <p class="leading-relaxed text-base">
            ¿No sabes qué hacer? Descubre actividades, tours y experiencias
            únicas en cada destino. Desde visitas guiadas hasta aventuras al
            aire libre, encuentra el plan perfecto para cada momento. ¡Haz que
            tu viaje cuente!
          </p>
          <a routerLink="/viajes">Ver Lugares de intes</a>
          <div class="h-1 w-full bg-indigo-500 rounded mt-2"></div>

          <a class="btn btn-primary mt-5" routerLink="/que-hacer">
            Ver lugares de interes
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Clase de footer para que siemrpe este abajo -->
<app-footer class="fixed bottom-0 w-full"></app-footer>
